<ol>
    <li>Checkers is played by two players. Each player begins with twelve pieces colored either black or red.</li>
    <li>The board that is made of 64 squares arranged in an 8 x 8 grid such that the color of the squares alternate between red and black. </li>
    <li>Both players twelve pieces are placed on the black squares such that the middle two rows contain no pieces.</li>
    <li>Players alternate turns.</li>
    <li>Pieces can only be moved to black squares in the direction opposite of the player.</li>
    <li>Pieces may only be moved one square away unless a valid jump is made.</li>
    <li>Pieces may be moved two squares away if the intermediate square is filled by an opponent's piece and the second square is vacant of pieces.</li>
    <li>When a piece is moved two squares, the opponent's piece in the intermediate square is removed from the board.</li>
    <li>A player must always choose moving two squares in favor of moving one.</li>
    <li>When a piece reaches the row furthest from its starting point it becomes a king.</li>
    <li>Kings are pieces that can move in any diagonal direction.</li>
    <li>The player wins when the opponent can no longer make a valid move.</li>
</ol>